<div class="card">
    <div class="card-header">
        <div class="title"> {{promotion?.title}}</div>
    </div>
    <div class="card-content">
        <p class="d-flex mb-0  align-items-center justify-content-between">
            <span class="title"> {{'auction.duration' | translate}}</span>
            <span class="value">{{promotion?.duration}} {{'auction.day' | translate}}</span>
        </p>
        <p class="mt-2 mb-0 d-flex align-items-center justify-content-between">
            <span class="title">{{'auction.commission' | translate}}</span>
            <span class="value">{{promotion?.percent}} %</span>
        </p>
    </div>
</div>