<img class="image" src="assets/images/gift.png" alt="">
<div class="main-content">
    <app-order-card (succeed)="onSucceed()" [orderCount]="orderCount" [level]="currentLevel"></app-order-card>
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <app-balance-card [image]="'assets/images/deposit.png'" [title]="'balance.balance'"
            [price]="balance?.balance+'$'" class="mt-3"></app-balance-card>
        <app-balance-card [image]="'assets/images/balance/under.png'" [title]="'balance.under_consideration'"
            [price]="balance?.daily_balance" class="mt-3"></app-balance-card>
        <app-balance-card [image]="'assets/images/balance/today-commission.png'" [title]="'balance.commission'"
            [price]="balance?.daily_orders_count+'$'" class="mt-3"></app-balance-card>
        <app-balance-card [image]="'assets/images/balance/order.png'" [title]="'balance.order_completion'"
            [price]="balance?.urish_tiv+'$'" class="mt-3"></app-balance-card>
        <app-balance-card [image]="'assets/images/balance/yesterday-commission.png'"
            [title]="'balance.yesterday_commission'" [price]="balance?.yesterday_balance+'$'"
            class="mt-3"></app-balance-card>
        <app-balance-card [image]="'assets/images/balance/team-commission.png'" [title]="'balance.team_commission'"
            [price]="''" class="mt-3"></app-balance-card>
    </div>
</div>