.logo-title {
    background: var(--main-gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.5px 0.5px 1px #b89124;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}