.header {
    padding: 16px;
    background: var(--header-color);
    .header-title {
        font-family: "Sora";
        background: var(--main-gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }
}
