/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/index";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body {
    margin: 0;
}
.layout {
    padding: 16px 24px;
}
.layout-background{
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.light-background{
    background-color: var(--light-text-color);
}
.black-background{
    background-color: #000;
}
img{
    max-width: 100%;
}