.input-money {
    background: #efe7cb;
    border: 1px solid var(--header-color);
    border-radius: 4px;
    padding: 9px;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #5a5d74;
    width: 100%;
}
.label {
    font-family: "Sora";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--header-color);
}
