:root {
    --light-color: #efe7cb;
    --main-gradient-color: linear-gradient(
        118.89deg,
        #d99e52 -58.29%,
        #ab7435 -12.48%,
        #dab224 74.31%,
        #8b6c1c 173.16%
    );
    --main-color: #d3ac24;
    --light-text-color: #ebf0fd;
    --placeholder-color: #7c8ba0;
    --text-color: #262626;
    --header-color: #241f1f;
}
